<h1>關於即時即食</h1>
即時即食這個網站的發想是來自於生活中採買的啟發，我們希望透過一個互動的方式，以視覺的效果呈現各地農產品的分布與種類。也許透過這種方式可以邀發使用者更認識自己生活的地方有哪些農產品，讓大家能更認識在地農產品。
<h2>理念</h2>
<p> 常常我們在心中會有一個疑問,就是面對超級市場中琳瑯滿目的生鮮產品, 我們心裡常常會有疑問:到底什麼食材是當季的呢?什麼食材又是當地盛產的呢?這些疑問當然也都有解答。只要回家上網 google,比如說以關鍵字 搜尋”五月 水果”往往可以得到一年四季各個季節會有什麼水果的資訊, 再稍微比對一下就可以知道答案了。但是,這樣的使用者經驗筆者覺得有更好的方式!每當採買時有疑問的時候,有一個平台可以提供當下時令的農產品資訊,以及特定區域盛產的食材,那麼對使用者來說,是個非常便利的工具呢!此外,我們想像中的平台可以傳遞更多的訊息。因為重點是當季與當地,所 以我們想要在這個平台中讓使用者以互動的方式去探索在各地中有哪些當季的食材,除此之外,未來還希望可以整合當地小農市集的資訊,強化在地食材資訊的傳遞,並轉化成生活中真的可以利用的資訊。
</p>
<h2>Opendata</h2>
<p>
我們使用的是<%= link_to "政府資料開放平台","http://data.gov.tw"%><%= link_to "每月盛產農產品","http://data.gov.tw/node/8120"%>提供的原始資料，在開發這個網站的時候，為了方便實作出我們的成品，我們設計了一個Javascript API，可以更方便的存取、過濾農產品資料，基於"open in open out"的理念，這個API也一併open source。
</p>

<h2>Feedback</h2>
<p>
<address>ntuyusheng@gmail.com</address>
</p>
