<h1>for developers</h1>
<h2>maintenance</h2>
<h3>for developer of this project</h3>
<p>
everytime you modified in your branch, </br>
&gt;git add .</br>
&gt;git commit -m "commit message"</br>
&gt;git push origin master</br>
</br>
</br>
then, on server</br>
&gt;git pull origin master</br>
</br>
<h2>for developer who want to contribute to this project or who is interested in this kind of application</h3>
<p>
The source code is hosted on <%= link_to "Github", "https://github.com/pedroid/farmer-map" %>.
</p>
