	div{
		font-family:Microsoft JhengHei;
	}

	#main_div{
		//background:green;
		overflow:auto;
		//position:absolute;
		left:0px;
		//position:relative;
	}

	#ITRImap{
		//background:gray;
		//display:none;
	}

	#ITRImap_img{
		width:500px;
		position:absolute;
		top:50px;
		left:0px;

	}

    #canvas {
      //background-color:#FF0000; //red
	  //opacity:0.2;
	  //width:500px;
	  position:absolute;
	  top:50px;
	  left:0px;
	  //display:none;
    }


	#marker_div{
		//display:none;
	}

	.ptr{
		width: 12px;
		z-index: 1;
	}

	.tab_button{
		width:160px;
	}

	.single_button{
		width:80px;
	}

	.IJKL_button{
		width:150px;
	}

	#marker_canvas {
      //background-color:#FF0000;
	  //opacity:0;
	  //width:500px;
	  position:absolute;
	  top:50px;
	  left:0px;
	  //display:none;
    }

	#img-div{
		background:#FAFAFA;
		position:absolute;
		width:600px;
		left:508px;
		top:100px;
		margin-bottom:0px;
		overflow:auto;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}


	#itri_pic{
		width:96%;
		margin-left:2%;
		margin-top:2%;
		margin-bottom:0%;

	}

	#img_description{
		background:#FAFAFA;
		//height:100px;
		margin-left:2%;
		margin-right:2%;
		margin-bottom:2%;

	}



	#info{
		display:none;
		background:yellow;
		position:absolute;
		margin-top: 500px;
		margin-left:700px;
		text-align:left;

	}
	#operation_info{
		//background:yellow;
		position:absolute;
		left:500px;
		margin-left:20px;
		top:50px;
		z-index:1;
	}
	#hidden_operation_info{
		display:none;
	}

	#text_content{
//		background:black;
		width:600px;
		position:absolute;
		left:0px;
		margin-left:20px;
		top:850px;
		z-index:1;
	}

	.todo{
		display:none;
	}
